.sidebar{
    position:fixed;
    top:90px;
    bottom:0;
    left:0;
    width:85px ;
    justify-content:space-between ;
    z-index: 1;
}
.time{
    position: absolute;
    background-color: black;
    color: white;
    z-index:1;
    right:10px;
    bottom:15px;
    font-family: Arial;
    font-size:12px;
    padding:2px ;
    border-radius:3px;
    
}
.notification{
    position: absolute;
    background-color: rgb(160, 17, 17);
    width:13px;
    height:15px;
    padding-left: 5px;
    padding-top: 2px;
    border-radius:10px;
    border:0;
    bottom:21px;
    left:11px;
    color:white;
    font-family:Arial;
    font-size: 10px;
  
   
}
.notificationstack{
    position: relative;
}

.exploreicon{
    height:30px ;
    width:30px ;
    margin-left: 10px;
}
.homeicon1{
    height:40px ;
    width:50px ;
    margin-left: 3px;
}
.libraryicon{
   height:30px ;
   width:30px ;
   margin-left: 10px;
}
.originalsicon{
    height:30px ;
    width:30px ;
    margin-left: 10px;
}
.subscribeicon{
    height:30px ;
    width:30px ;
    margin-left: 10px;
}

.uploadvideoicon{
    height:30px ;
    width:30px ;
    margin-left: 10px;

}
.youtubemusicicon{
    height:30px ;
    width:30px ;
    margin-left: 10px;
}

.text1{
    margin-left: 13px;
    font-size:10px;
    margin-top: 0;
}


.text2{
    margin-left: 10px;
    font-size:10px;
    margin-top: 0;
}
.text3{
    margin-left: 0;
    font-size:10px;
    margin-top: 0;
}
.text4{
    margin-left: 5px;
    font-size:10px;
    margin-top: 0;
}
.text5{
    margin-left: 0;
    font-size:10px;
    margin-top: 0;
}
.text6{
    margin-left: 10px;
    font-size:10px;
    margin-top: 0;
}

.division{
    margin-top:70px ;
    margin-left:10px;
    height:70px ;
    cursor: pointer;
 
}

.division:hover{
    background-color: lightgray;
}

.tooltip{
    position:absolute;
    background-color:rgb(227, 220, 220);
    padding-left:2px;
    padding-right:2px;
    padding-bottom:2px;
    color: white;
    border-radius:3px;
}

.button1 .tooltip{
    opacity:0;
    cursor: pointer;
}

.button1:hover .tooltip{
    opacity:1;
}